<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <!-- Define your beans here -->

    <!-- define the dependency -->
    <bean id="myFortuneService"
          class="com.springioc.example.HappyFortuneService">
    </bean>

    <bean id="myCoach"
          class="com.springioc.example.TrackCoach">
        <constructor-arg ref = "myFortuneService"></constructor-arg>
    </bean>

    <bean id="myBaseballCoach"
          class="com.springioc.example.BaseballCoach">
            <constructor-arg ref = "myFortuneService"></constructor-arg>
    </bean>

</beans>